<!--**TODO** Need to fix back button styling-->
  <ion-tabs>
    <ion-back-button class="backBtn" defaultHref="home"></ion-back-button>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="created">
        <ion-label>Created</ion-label>
        <ion-icon name="create-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="saved">
        <ion-label>Saved</ion-label>
        <ion-icon name="save-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="completed">
        <ion-label>Completed</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <p style="padding-top: 13rem;">Insert something here instead of it being blank page</p>