

<ion-avatar style="margin: auto;">
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>


<ion-grid style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <ion-col>
    <ion-row>
    <ion-button>Find a job</ion-button>
  </ion-row>
  <ion-row>
    <ion-button>Create Jobs</ion-button>
  </ion-row>
</ion-col>
  <ion-col> 
    <ion-row>
    <ion-button>See jobs</ion-button>
  </ion-row>
  <ion-row>
    <ion-button>My Jobs</ion-button>
  </ion-row>
</ion-col>
</ion-grid>

