<ion-header>
  <h1>Home</h1>
  <img src=".\assets\icon\avatar-default-icon.png" alt="profile picture">
</ion-header>

<ion-grid style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <ion-col>
    <ion-row>
    <ion-button>Find a job</ion-button>
  </ion-row>
  <ion-row>
    <ion-button>Create Jobs</ion-button>
  </ion-row>
</ion-col>
  <ion-col> 
    <ion-row>
    <ion-button>See jobs</ion-button>
  </ion-row>
  <ion-row>
    <ion-button>My Jobs</ion-button>
  </ion-row>
</ion-col>
</ion-grid>

