ion-grid{
    margin-top: 20%;
    ion-col{
        margin:0 15%;
    }
    ion-row {
        margin: 10% 0;
    }
    ion-button {
        max-width: fit-content;
        margin: 5% 0;
        font-size: 20px;
    }
}

ion-header{
    h1 {
        color:white;
        text-align: center;
    }
 img {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }   
}

.imgContainer {
    display: flex;
    height: auto;
    justify-content: center;
}

.noMargin {
    margin: 0 !important;
    position: relative;
    left: 1px;
}

.myJobsBtn {
    position: relative;
    left: 37px;
}

.md {
    .myJobsBtn {
        position: relative;
        left: 27px;
    }

    .seeJobsBtn {
        position: relative;
        top: 4px;
    }

    .noMargin {
        margin: 0 !important;
        position: relative;
        left: 1px;
    }

    .title {
       text-align: center;
       padding-right: 4rem;
    }
    
}
