<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <div>
        1 of 3
      </div>
    </ion-col>
    <ion-col>
      <div>
        2 of 3
      </div>
    </ion-col>
    <ion-col>
      <div>
        3 of 3
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col><ion-text style="font-weight: bold;">First Name</ion-text></ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Last Name</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Address</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Email</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Username</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Password</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Confirm password</ion-col>
    <ion-col><input class="inputBorder"></ion-col>
  </ion-row>
   <ion-button color="success" expand="block">Sign Up</ion-button>
</ion-grid>