.inputBorder {
    border-radius: 5px;
    border: solid lightslategrey;
}

// .screen {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
// }
ion-input {
    color: grey
}

.bold {
    font-weight: bold;
}

.form {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    padding-bottom: 9rem;
}

.signUpBtn {
    position: relative;
    top: 9rem;
}

