<!--*TODO* Will need to add form to register page, can reference login page for example
          Redo styling for inputs
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<form #registrationForm="ngForm" (ngSubmit)="signUp(registrationForm)" style="display: flex; flex-direction: column; justify-content: space-evenly;">
  <ion-grid >
    <ion-row>
    <ion-input type="text" placeholder="First Name" name="firstName" ngModel #firstName="ngModel" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Last Name" name="lastName" ngModel #lastName="ngModel" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Address" clearInput="true" name="address" ngModel #address="ngModel" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="email" placeholder="Email" clearInput="true" name="email" ngModel #email="ngModel" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Username" clearInput="true" name="userName" ngModel #userName="ngModel" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="password" placeholder="Password" clearInput="true" name="password" ngModel #password="ngModel" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="password" placeholder="Confirm Password" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
   
  </ion-grid>
   <ion-button color="success" type="submit" expand="block">Sign Up</ion-button>
</form>