<!--*TODO* Will need to add form to register page, can reference login page for example
          Redo styling for inputs
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<form style="display: flex; flex-direction: column; justify-content: space-evenly;">
  <ion-grid >
    <ion-row>
    <ion-input type="text" placeholder="First Name" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Last Name" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Address" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="email" placeholder="Email" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="text" placeholder="Username" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="password" placeholder="Password" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="password" placeholder="Confirm Password" clearInput="true" enterkeyhint="next"></ion-input>
    </ion-row>
   
  </ion-grid>
   <ion-button color="success" expand="block" (click)="signUp()">Sign Up</ion-button>
</form>