.inputBorder {
    border-radius: 5px;
    border: solid lightslategrey;
}

// .screen {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
// }
ion-input {
    color: grey
}

.bold {
    font-weight: bold;
}

